@import url('scss-main.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --color-primary: white;
    --color-secondary: black;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
  }
  
  * {
    box-sizing: border-box;
  }

body{
    background-color: #e0e0e0;
    font-family: 'Amatic SC', cursive;

    /* height: 100vh;
    margin: 0 auto;
    display: grid;
    padding: calc(var(--space) * 2);
    max-width: 700px; */
}

a{
    color: #000;
}
* {
    scroll-behavior: smooth;
}

.lt-grid-container {
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    border-radius: 10px;
}

.lt-Left-padded-area {
    grid-area: 1 / 1 / 4 / 2;
}

.lt-Intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    grid-area: 1 / 2 / 2 / 3;
}

.lt-Intro-blank-area {
    grid-area: 1 / 1 / 2 / 2;
}

.lt-Intro-Hello-area {
    grid-area: 2 / 1 / 3 / 2;
}

.lt-Project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 2.2fr 0.4fr;
    gap: 1px 1px;
    grid-area: 2 / 2 / 3 / 3;
}

.lt-Project-blank-header {
    grid-area: 1 / 1 / 2 / 3;
}

.lt-Project-list {
    grid-area: 2 / 1 / 3 / 2;
}

.lt-Project-detail {
    grid-area: 2 / 2 / 3 / 3;
}

.lt-Project-blank-footer {
    grid-area: 3 / 1 / 4 / 3;
}

.lt-Contact {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 0.4fr 2.2fr 0.4fr;
    gap: 1px 1px;
    grid-area: 3 / 2 / 4 / 3;
}

.lt-Contact-blank-header {
    grid-area: 1 / 1 / 2 / 3;
}

.lt-Contact-details {
    grid-area: 2 / 1 / 3 / 2;
}

.lt-Contact-future-area {
    grid-area: 2 / 2 / 3 / 3;
}

.lt-Footer-blank-area {
    grid-area: 3 / 1 / 4 / 3;
}

#About,
#Projects,
#Contact {
    font-weight: 300;
    line-height: 1.4;
    max-width: 26em;
    font-size: calc(15px + 0.8vw);
}

#Contact {
    font-size: calc(10px + 1.2vw);
}

h1 {
    font-weight: 300;
    line-height: 1.4;
    max-width: 26em;
    font-size: calc(15px + 0.8vw);
}

b {
    font-size: calc(50px + 5vw);
}

.t:hover {
    transform: translate(30px, 0px);
    transition: 1.5s;
}
/* 
.lt-Project-detail {
    visibility: hidden;
    transform: translate(0px, 0px);
    transition: 1s;
    background-color: #29292971;
    padding: 5%;
} */

.ul li:hover ul.sidemenu {
    display: block;
}

.ul li ul.sidemenu li {
    display: block;
}

.multi-button {
    display: flex;
    width: 100%;
    box-shadow: var(--shadow) 4px 4px;
    }
    
    .multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
        calc(var(--space) / 1.125)
        var(--space)
        var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
    }
    
    .multi-button button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
    }
    
    .multi-button button:hover,
    .multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
    }
    
    .multi-button button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
    }
    
    .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
    }
    
    .multi-button button:active {
    transform: translateY(var(--border-size));
    }

    .fix{
        position:fixed;
        top: 0; 
        right: 0;
    }