:root {
  --text-color: #000;
  --bg-color: #e0e0e0;
}

body {
  font-family: "termina", sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  overflow: hidden;
  width: unset;
  overscroll-behavior: none;
}

/* ###################################################||INTRO||############################################################# */
#intro {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #ffe600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vipul {
  color: black;
  font-size: 200px;
}

.hi {
  color: black;
  font-size: 100px;
}

.introimage {
  height: 40%;
  position: absolute;
  right: 10%;
  bottom: 1%;
}

/* ###################################################||ABOUT ME||############################################################# */
#aboutMe {
  height: 100vh;
  width: 100%;
  position: relative;
}

.headphones {
  position: absolute;
  left: 30px;
  top: -110px;
  height: 200px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.about_me_text_heading {
  font-size: 25px;
}

.myphotos {
  height: 200px;
}

/* ###################################################||ACHIVEMENTS||############################################################# */
#achievements {
  background-color: #363636;
  font-family: 'Open Sans', sans-serif;
  font-family: "Tahoma";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: -2;
}

.achivementsHeading {
  color: #ffffff;
  font-weight: 1000;
  font-size: 200px;
  font-family: 'Open Sans', sans-serif;
  font-family: "Tahoma";
}

#achivementCardbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  right: 0%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  z-index: 2;
}

.achivementCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 200px;
  background-color: #525252;
  border-radius: 10px;
  -webkit-box-shadow: -1rem 0 3rem #000;
          box-shadow: -1rem 0 3rem #000;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.achivementCard:not(:first-child) {
  margin-left: -50px;
}

.achivementCard:hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.achivementCard:hover ~ .achivementCard {
  position: relative;
  left: 50px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: red;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.achivementCard:hover .filledbar {
  width: 120px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

@-webkit-keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}

/* ###################################################||PROJECTS||############################################################# */
#projects {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  background: var(--bg-color);
  color: var(--text-color);
}

section:not(#projects) {
  min-height: 100vh;
  width: 100%;
  position: relative;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 50px 10vw;
  margin: auto;
}

.projectCard {
  margin: 0 30px 0 30px;
  height: 80vh;
  border-radius: 40px;
  background: #e0e0e0;
  -webkit-box-shadow: 16px 16px 23px #b5b5b5, -16px -16px 23px #ffffff;
          box-shadow: 16px 16px 23px #b5b5b5, -16px -16px 23px #ffffff;
}

.projectCard:hover {
  height: 90vh;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.projectImg {
  height: 40%;
  width: 30vw;
  border-radius: 50px 50px 0 0;
}

.projectHeader {
  font-size: 5rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1rem;
  position: absolute;
  top: 10vw;
  left: 10vw;
  z-index: 4;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

@media (max-width: 768px) {
  .projectHeader {
    font-size: 16vw;
  }
}

.projectHeader span {
  display: block;
}

.credit {
  font-family: Termina, sans-serif;
}

.credit a {
  color: var(--text-color);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10vw;
}

.project-wrap > * {
  min-width: 30vw;
}

/* ###################################################||CONTACT||############################################################ */
#contact {
  background: var(--text-color);
  color: #D5D9CC;
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}

.icons {
  font-size: 100px;
  /* padding: 10%; */
  position: absolute;
  bottom: 10%;
}

.contact_me_header {
  font-size: 100px;
  position: absolute;
  left: 10%;
  top: 10%;
}

h1::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

h1:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #ffe600;
  z-index: -1;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

h1 {
  position: relative;
  font-size: 5rem;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

.fa-github-square:hover {
  color: #008ee4;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 60px #008ee4, -5px -5px 60px #008ee4;
          box-shadow: 5px 5px 60px #008ee4, -5px -5px 60px #008ee4;
}

.fa-youtube-play:hover {
  color: #ff5353;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 60px #ff5353, 0px 0px 60px #ff5353;
          box-shadow: 0px 0px 60px #ff5353, 0px 0px 60px #ff5353;
}

.fa-twitter-square:hover {
  color: #68c7ff;
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 60px #68c7ff, 0px 0px 60px #68c7ff;
          box-shadow: 0px 0px 60px #68c7ff, 0px 0px 60px #68c7ff;
}

.fa-linkedin-square:hover {
  color: #008ee4;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 60px #008ee4, -5px -5px 60px #008ee4;
          box-shadow: 5px 5px 60px #008ee4, -5px -5px 60px #008ee4;
}

.fa-codepen:hover {
  color: #008ee4;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 60px #008ee4, -5px -5px 60px #008ee4;
          box-shadow: 5px 5px 60px #008ee4, -5px -5px 60px #008ee4;
}

.fa-facebook-square:hover {
  color: #008ee4;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 60px #008ee4, -5px -5px 60px #008ee4;
          box-shadow: 5px 5px 60px #008ee4, -5px -5px 60px #008ee4;
}
/*# sourceMappingURL=style.css.map */