@font-face {
  font-family: "rz-bold";
  src: url("https://d33wubrfki0l68.cloudfront.net/f3186e7f4b56c63f574671af3000fd4bf8c51332/49de9/fonts/rezozero/rz-bold.eot");
  src: url("https://d33wubrfki0l68.cloudfront.net/f3186e7f4b56c63f574671af3000fd4bf8c51332/49de9/fonts/rezozero/rz-bold.eot#iefix") format("embedded-opentype"), url("https://d33wubrfki0l68.cloudfront.net/6c20ef9ba5c8c01672467d91da6bd74522ebcf6c/ba54e/fonts/rezozero/rz-bold.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/a9ecebfc0a7c9a3fca8cfa77361749c23bf6f01f/c05e8/fonts/rezozero/rz-bold.woff") format("woff"), url("https://d33wubrfki0l68.cloudfront.net/f57fe473796f6ac89caa77ae02193fcadab8b994/07b4b/fonts/rezozero/rz-bold.svg") format("svg");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "rz-regular";
  src: url("https://d33wubrfki0l68.cloudfront.net/a2a2e60773e19d6ee1cf922f7141a7b46d4d19cf/4264c/fonts/rezozero/rz-regular.eot");
  src: url("https://d33wubrfki0l68.cloudfront.net/a2a2e60773e19d6ee1cf922f7141a7b46d4d19cf/4264c/fonts/rezozero/rz-regular.eot#iefix") format("embedded-opentype"), url("https://d33wubrfki0l68.cloudfront.net/42a1250d376805641ea1293a09d0f339d9138f7c/82579/fonts/rezozero/rz-regular.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/ced4ea2d52c6493542244e03056e72e24efa2020/de4df/fonts/rezozero/rz-regular.woff") format("woff"), url("https://d33wubrfki0l68.cloudfront.net/a86136c3aae1eca151ace3442768510c960ced28/7e4b7/fonts/rezozero/rz-regular.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "maison-neue-mono";
  src: url("https://d33wubrfki0l68.cloudfront.net/2fd1aa56c5909513e9bd1b80721982723736b2bf/75dfb/fonts/maison-neue/maison-neue-mono.eot");
  src: url("https://d33wubrfki0l68.cloudfront.net/2fd1aa56c5909513e9bd1b80721982723736b2bf/75dfb/fonts/maison-neue/maison-neue-mono.eot#iefix") format("embedded-opentype"), url("https://d33wubrfki0l68.cloudfront.net/a432359bcfdbc552f00439329fe1d54365faa1b3/6655b/fonts/maison-neue/maison-neue-mono.woff2") format("woff2"), url("https://d33wubrfki0l68.cloudfront.net/42984e28aef5e94ec487815a859c81f6aabf6c75/684c1/fonts/maison-neue/maison-neue-mono.woff") format("woff"), url("https://d33wubrfki0l68.cloudfront.net/698fd55a88d88044f6a766cf9489666253488653/e4741/fonts/maison-neue/maison-neue-mono.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}

:root {
  --text-color: #000;
  --bg-color: #e0e0e0;
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --color-primary: #e0e0e0;
  --color-secondary: black;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}

body {
  font-family: "termina", sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  overflow-x: hidden;
  width: unset;
  overscroll-behavior: none;
}

/* ###################################################||INTRO||############################################################# */
#intro {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #ffe600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vipul {
  color: black;
  font-size: 200px;
}

.hi {
  color: black;
  font-size: 100px;
}

.introimage {
  height: 40%;
  position: absolute;
  right: 10%;
  bottom: 1%;
}

/* ###################################################||ABOUT ME||############################################################# */
#aboutMe {
  height: 100vh;
  width: 100%;
  position: relative;
}

.headphones {
  position: absolute;
  left: 30px;
  top: -110px;
  height: 200px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.about_me_text_heading {
  font-size: 25px;
}

.about_me_text_para {
  text-align: justify;
}

.myphotos {
  height: 200px;
}

/* ###################################################||ACHIVEMENTS||############################################################# */
#achievements {
  background-color: #363636;
  font-family: 'Open Sans', sans-serif;
  font-family: "Tahoma";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -2;
}

.achivementsHeading {
  color: #ffffff;
  font-weight: 1000;
  font-size: 100px;
  font-family: 'Open Sans', sans-serif;
  font-family: "Tahoma";
}

#achivementCardbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  right: 0%;
  z-index: 2;
}

.achivementCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 200px;
  background-color: #525252;
  border-radius: 10px;
  -webkit-box-shadow: -1rem 0 3rem #000;
          box-shadow: -1rem 0 3rem #000;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.achivementCard:not(:first-child) {
  margin-left: -50px;
}

.achivementCard:hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.achivementCard:hover ~ .achivementCard {
  position: relative;
  left: 50px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #000000;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: red;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.achivementCard:hover .filledbar {
  width: 120px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

@-webkit-keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slidein {
  0% {
    top: -400px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -400px;
    opacity: 0;
  }
}

/* ###################################################||PROJECTS||############################################################# */
#projects {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  background: var(--bg-color);
  color: var(--text-color);
}

section:not(#projects) {
  min-height: 100vh;
  width: 100%;
  position: relative;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 50px 10vw;
  margin: auto;
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}

.projectCard {
  margin: 0 30px 0 30px;
  height: 80vh;
  border-radius: 40px;
  background: #e0e0e0;
  -webkit-box-shadow: 16px 16px 23px #b5b5b5, -16px -16px 23px #ffffff;
          box-shadow: 16px 16px 23px #b5b5b5, -16px -16px 23px #ffffff;
}

.projectCard:hover {
  height: 82vh;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  -webkit-box-shadow: 17px 17px 34px #b5b5b5, -17px -17px 34px #ffffff;
          box-shadow: 17px 17px 34px #b5b5b5, -17px -17px 34px #ffffff;
}

.projectImg {
  height: 40%;
  width: 30vw;
  border-radius: 50px 50px 0 0;
}

.projectHeader {
  font-size: 4rem;
  line-height: 1;
  font-weight: 400;
  margin: 1rem;
  font-family: 'rz-regular';
  z-index: 4;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

@media (max-width: 768px) {
  .projectHeader {
    font-size: 16vw;
  }
}

.projectHeader span {
  display: block;
}

.projectPara {
  padding-left: 40px;
  padding-right: 40px;
  text-align: justify;
}

.credit {
  font-family: Termina, sans-serif;
}

.credit a {
  color: var(--text-color);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10vw;
}

.project-wrap > * {
  min-width: 30vw;
}

.multi-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.multi-button .submit_btn {
  border-radius: 15px;
  margin-top: 10%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding: calc(var(--space) / 1.125) var(--space) var(--space);
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 1.5rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  -webkit-transition: flex-grow var(--duration) var(--ease), -webkit-box-flex var(--duration) var(--ease);
  transition: flex-grow var(--duration) var(--ease), -webkit-box-flex var(--duration) var(--ease);
  transition: flex-grow var(--duration) var(--ease);
  transition: flex-grow var(--duration) var(--ease), -webkit-box-flex var(--duration) var(--ease), -ms-flex-positive var(--duration) var(--ease);
}

.multi-button .submit_btn + .submit_btn {
  border-left: var(--border-size) solid black;
  margin-left: calc(var(--border-size) * -1);
}

.multi-button .submit_btn:hover,
.multi-button .submit_btn:focus {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.multi-button .submit_btn:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.multi-button:hover .submit_btn:focus:not(:hover) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.multi-button .submit_btn:active {
  -webkit-transform: translateY(var(--border-size));
          transform: translateY(var(--border-size));
}

/* ###################################################||CONTACT||############################################################ */
#contact {
  background: var(--text-color);
  color: #D5D9CC;
}

.contact-container {
  padding-left: auto;
  padding-right: auto;
  width: 70%;
  padding-top: 20px;
}

.contact-header {
  font-family: "rz-bold";
  font-size: 150px;
  padding: 5%;
}

.contact-header-text {
  padding-bottom: 10%;
}

.contact-links-header {
  font-family: "rz-bold";
  font-size: 30px;
  padding-top: 6%;
  padding-left: 1%;
  padding-bottom: 1%;
}

.contact-links-para {
  font-family: "maison-neue-mono";
  font-size: 30px;
  color: #fff;
}

.github-btn {
  text-decoration: none;
  color: #fff;
}

.github-btn:hover {
  text-shadow: 0px 0px 40px #ffffff, 0 0 10px #7373ff;
  color: #fff;
  text-decoration: none;
}

.codepen-btn {
  text-decoration: none;
  color: #fff;
}

.codepen-btn:hover {
  text-shadow: 0px 0px 40px #ffffff, 0 0 10px #7373ff;
  color: #fff;
  text-decoration: none;
}

.facebook-btn {
  text-decoration: none;
  color: #fff;
}

.facebook-btn:hover {
  text-shadow: 0px 0px 40px #ffffff, 0 0 10px #7373ff;
  color: #fff;
  text-decoration: none;
}

.youtube-btn {
  text-decoration: none;
  color: #fff;
}

.youtube-btn:hover {
  text-shadow: 0px 0px 40px #ffffff, 0 0 10px #7373ff;
  color: #fff;
  text-decoration: none;
}

.twitter-btn {
  text-decoration: none;
  color: #fff;
}

.twitter-btn:hover {
  text-shadow: 0px 0px 40px #ffffff, 0 0 10px #7373ff;
  color: #fff;
  text-decoration: none;
}

.linkedin-btn {
  text-decoration: none;
  color: #fff;
}

.linkedin-btn:hover {
  text-shadow: 0px 0px 40px #ffffff, 0 0 10px #7373ff;
  color: #fff;
  text-decoration: none;
}

.abstract_footer {
  position: absolute;
  z-index: 0;
  right: 0;
  height: 500px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=style.css.map */